@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 500px;
    border-collapse: collapse;
    position: relative;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
}

td, th {
    font-size: 0.7em;
    border: 1px solid black;
    padding: 6px;
}

thead, tfoot {
    background-color: #383838;
    color: white;
}

tbody > tr:nth-child(odd) { /* 2n - 1*/
    background-color: white;
}

tbody > tr:nth-child(even) { /* 2n */
    background-color: lightgray;
}

thead > tr > th {
    position: sticky;
    top: 0;
    background-color: #383838;
}

td.num {
    text-align: center;
}

td.enu {
    padding: 0.2em 0.4em;
}